@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.current_user {
  font-weight: lighter;
  margin-right: 10px;
}

.cards {
  display: flex;
  margin-bottom: 30px;
}

.cards > .card {
  margin-right: 20px;
}